html {
  scroll-behavior: smooth;
}


#root {
  max-width: 42rem;
  margin: 0 auto;
  margin-top: 5rem;
}

section[id],
header[id],
main[id] {
  scroll-margin-top: 2rem;
}


@media (max-width: 600px) {
  #root {
    margin-top: 2rem;
    max-width: 20rem;
  }
}